.container {
    width: 400px;
    height: 700px;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 15px #5a5a5a;
}

img {
    margin: 30px auto;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #464646;
}
hr {
    margin: 10px auto;
}
p {
    font-size: .9em;
}