@charset "UTF-8";

@media (max-width: 320px) {
    body {
        font-size: 0.9rem;
        background-position: bottom right;
    }
    .input-group-text {
        font-size: .8rem;
    }    
}

@media (max-width: 440px) {
    
}

@media (min-width: 760px) {
    body {
        font-size: 1rem;
    }
    
    footer {
        font-size: 1rem;
    }

}