@charset "UTF-8";

body {
    background-color: black;
    color: red;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: blue;
}
h3 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}
li {
    text-align: left;
}